{{- define "content" -}}

{{ if .Title }}
    <h1 class="page-title">{{ .Title }}</h1>
{{ end }}

{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Scratch.Get "params").enable_toc }}
    {{ $enable_collapsible_toc := (.Scratch.Get "params").enable_collapsible_toc }}
    {{ partial "collapsible-menu.html" (dict "type" "toc" "context" . "enable" $enable_collapsible_toc) }}
{{ end }}

{{ if .Content }}
    <div class="content-margin">
        {{- partial "content.html" . -}}
    </div>

    {{ if and .Params.showComments .Site.Params.utterances }}
        <script src="https://utteranc.es/client.js"
            repo="{{ .Site.Params.utterances.repo }}"
            issue-term="{{ .Site.Params.utterances.issueTerm }}"
            theme="{{ .Site.Params.utterances.theme }}"
            crossorigin="anonymous"
            async>
        </script>
    {{ end }}
{{ end }}

{{- end -}}